.minesweeper__container {
  width: 450px;
  height: 270px;
  text-align: center;

  .minesweeper__container__row__cell {
    border: 5px outset #5d69a5;
    background-color: #8a86c5;
    height: 30px;
    width: 30px;
    padding: 0px;
  }

  .icon {
    color: red;
    transform: scale(0.7);
  }

  .minesweeper__container__row__cell:hover {
    border: 5px outset #4c4875;
    background-color: #67668f;
  }

  @media screen and (max-width: 785px) {
    width: 340px;
    height: 250px;
  }
}
